<div class="header flex-style">
    <div class="logo-container flex-style ">
        <a href="https://myipsearch.id.vn"><img id="logo" src="/img/logo/logo.jpg" alt="logo"></a>
        <span class="trademark">IP Data Stream</span>
    </div>
    <form class="search-bar-container flex-style " action="/searchPage">
        <div class="input-search-container flex-style">
            <div class="main-input flex-style">
                <input name="mo_ta_nhan_hieu" style="border: none; width: 100%; height: 100%;" type="text"
                    class="input-bar" placeholder="Nhập số đơn hoặc nhãn hiệu..." value="{{data.mo_ta_nhan_hieu}}">
                <div class="adv-btn">
                    <i class="gg-menu-left"></i>
                </div>
            </div>
            <button type="submit" class="fa-search-container flex-style">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
    <form action="/searchPage" class="small-advsearch-container padding-24 disp-none margin-top-16" style="z-index: 2;">
        <div class="header-search">
            <p class="title">Advance search</p>
            <i class="fa fa-close small-close-btn"></i>
        </div>
        <div class="body-search ">
            <div class="flex-style flex-column">
                <div class="flex-style padding-16">
                    <input name="mo_ta_nhan_hieu" class="input-spsearch flex-grow-1" type="text"
                        placeholder="Nhập số đơn hoặc nhãn hiệu..." value="{{data.mo_ta_nhan_hieu}}">
                </div>
                <div class="flex-style flex-row">
                    <label for="cong-khai-small" class=" ">
                        <div class="margin-left-16 cursor-pointer ">
                            <input id="cong-khai-small" type="checkbox">
                            <span>Đơn công khai</span>
                        </div>
                    </label>
                    <label for="cong-bo-small" class=" ">
                        <div class="margin-left-16 cursor-pointer usersl-none">
                            <input id="cong-bo-small" type="checkbox">
                            <span>Đơn công bố</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="padding-16">
                <div class="flex-style">
                    <div class="margin-8 flex-style flex-grow-1">
                        <input name="spdv" class="input-spsearch flex-grow-1" type="text"
                            placeholder="Sản phẩm dịch vụ">
                    </div>
                    <div class="margin-8 flex-style flex-grow-1">
                        <input name="owner" class="input-spsearch flex-grow-1" type="text" placeholder="Chủ đơn">
                    </div>
                </div>
            </div>
            <div class="flex-style flex-row">
                <label for="dang-xu-ly" class=" ">
                    <div class="margin-bot-8 margin-left-16 cursor-pointer usersl-none">
                        <input id="dang-xu-ly" type="checkbox">
                        <span>Đang xử lý</span>
                    </div>
                </label>
                <label for="cap-bang" class=" ">
                    <div class="margin-bot-8 margin-left-16 cursor-pointer usersl-none">
                        <input id="cap-bang" type="checkbox">
                        <span>Cấp bằng</span>
                    </div>
                </label>
                <label for="tu-choi" class=" ">
                    <div class="margin-bot-8 margin-left-16 cursor-pointer usersl-none">
                        <input id="tu-choi" type="checkbox">
                        <span>Từ chối</span>
                    </div>
                </label>
                <label for="rut-don" class=" ">
                    <div class="margin-bot-8 margin-left-16 cursor-pointer usersl-none">
                        <input id="rut-don" type="checkbox">
                        <span>Rút đơn</span>
                    </div>
                </label>
            </div>
        </div>
        <div class="text-align-center">
            <button type="submit" class="sml-search-btn fa-search-container height-40 width-80">Search</button>
        </div>
    </form>
    <div class="register-container ">
        {{#if login}}
        <div class="flex-style flex-column">
            <h1 class="title">Xin chào {{ name }}</h1>
            <div class="flex-style" style="justify-content: space-between;">
                <a href="/user/dashboard/{{role}}">Cá nhân</a>
                <a href="/user/logout">Đăng xuất</a>
            </div>
        </div>
        {{else}}
        <a class="button-style" href="/user/register">Đăng ký tài khoản</a>
        <a class="button-style" href="/user/login">Đăng Nhập</a>
        {{/if}}
    </div>
</div>